.tweet {
  border: 3px solid #555149;
  margin-bottom: 2em;
  padding: 1rem;
}

.tweet:hover {
  box-shadow: 5px 10px #5549497e;
}

.tweet-section {
  display: flex;
  flex-direction: column;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-name {
  font-size: 1em;
  margin-left: 10px;
}

.user-handle {
  font-size: 1em;
  font-weight: 600;
  color: rgba(148, 148, 148, 0.275);
}

.user-icon {
  height: 60px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.icons-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.fa-flag,
.fa-retweet,
.fa-heart {
  font-size: 18px;
  color: #4056a1;
}

.fa-flag:hover {
  color: orange;
}

.fa-retweet:hover {
  color: orange;
}

.fa-heart:hover {
  color: orange;
}

#tweet-content {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  border-bottom: 5px solid #555149;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 24px;
}
